* {
  margin: 0;
  color: inherit;
  font: inherit;
  background: none;
  text-decoration: none;
  border: solid 0;
  min-width: 0;
  min-height: 0;
  border-color: inherit /* borderColor option */
}

/* images option */
img, video {
  height: auto
}