/* unset */
* {
  margin: unset;
  color: unset;
  font: unset;
  background: unset;
  text-decoration: unset
}

/* reset */
*, ::before, ::after {
  border: solid 0;
  min-width: 0;
  min-height: 0;
  contain: layout;
  border-color: inherit;
  box-sizing: inherit
}

/* placeholder option */
*::placeholder {
  opacity: unset
}

/* images option */
img, video {
  height: unset
}

/* forms option */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], textarea {
  border-radius: unset;
  appearance: unset
}