/* unset */
* {
  margin: unset;
  color: unset;
  font: unset /* font option */;
  background: unset;
  text-decoration: unset
}

/* reset */
*, ::before, ::after {
  border: solid 0;
  min-width: 0;
  min-height: 0;
  box-sizing: inherit /* boxSizing option */;
  contain: layout /* layout option */;
  border-color: inherit /* borderColor option */
}

/* placeholder option */
*::placeholder {
  opacity: unset
}

/* images option */
img, video {
  height: unset
}

/* forms option */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], textarea {
  border-radius: unset;
  appearance: unset
}