html,body,article,section,nav,aside,hgroup,header,footer,address,blockquote,ol,ul,menu,dl,dt,dd,figure,figcaption,main,div,a,form,fieldset,details,dialog {
  display: flex;
  flex-direction: column
}

/* unset */
* {
  margin: unset;
  font: unset;
  color: unset
}

/* reset */
*, ::before, ::after {
  box-sizing: unset;
  border: solid 0;
  border-color: inherit;
  min-width: 0;
  min-height: 0;
  contain: layout
}

a {
  text-decoration: unset
}

/* placeholder option */
*::placeholder {
  opacity: unset
}

/* images option */
img, video {
  height: unset
}

/* forms option */
[type=email], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], textarea {
  border-radius: unset;
  appearance: unset
}

/* lists reset  */
ul, ol {
  padding: unset;
  list-style: none
}