* {
  font: inherit;
  color: inherit;
  background: none;
  text-decoration: none;
  margin: 0;
  border: solid 0;
  border-color: inherit;
  min-width: 0;
  min-height: 0
}

img, video {
  height: auto
}